<script lang="ts" setup>
import { useLoadingStore } from '@/stores/loading';

const loadingStore = useLoadingStore();
</script>


<template>
  <v-dialog v-model="loadingStore.isLongding" persistent width="auto">
    <v-card>
      <v-card-text style="text-align: center;">
        <div>Please wait</div>
        <v-progress-circular :size="50" color="green" indeterminate></v-progress-circular>
      </v-card-text>
    </v-card>

</v-dialog>
</template>