<script setup lang="ts">
import MainLayout from "@/layout/MainLayout.vue";
import FullLayout from "@/layout/FullLayout.vue";
import LoadingDialog from "./components/LoadingDialog.vue";
import MessageDialogVue from "./components/MessageDialog.vue";
</script>

<template>
   <component :is="$route.meta.layout === 'MainLayout'? MainLayout : FullLayout "></component>
   <LoadingDialog></LoadingDialog>
   <MessageDialogVue></MessageDialogVue>

</template>

<style scoped>

</style>
